@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-xs: 430px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  
  --color-brand-red: #f82243;
  --color-brand-red-dark: #ff1337;
  --color-brand-yellow: #ffe267;
  --color-brand-yellow-dark: #eabd02;
  --color-brand-purple: #5122e1;
  --color-brand-grey-light: #f7f7f7;
  
  --font-family-heading: "Transducer Variable", system-ui, sans-serif;
  --font-family-body: system-ui, sans-serif;
}

@layer base {
  html, body {
    font-family: theme(--font-family-body);
    @apply antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: theme(--font-family-heading);
    @apply font-extrabold;
  }

  .font-heading {
    font-family: theme(--font-family-heading);
    @apply font-bold;
  }

  button {
    @apply hover:cursor-pointer;
  }

  /* a {
    @apply transition-colors;
  } */
}

@layer components {
  .layout-full {
    @apply px-4 sm:px-8 lg:px-12 xl:px-16;
  }

  .layout-wide {
    @apply max-w-[1480px] w-full m-auto px-4 sm:px-8 lg:px-12 xl:px-16;
  }

  .prose {
    @apply max-w-none !text-lg/7 !text-black;
  }

  .prose a {
    @apply font-normal !text-brand-red border-b-2 border-transparent transition-colors hover:border-brand-red/75 !no-underline;
  }

  .prose p {
    /* @apply !font-medium; */
  }

  .prose b {
    @apply !font-bold;
  }
  
  .prose blockquote p:first-of-type::before,
  .prose blockquote p:first-of-type::after {
    content: none;
  }

  .prose-article {
    @apply mx-auto !max-w-[680px];
  }

  .prose-article h1, 
  .prose-article h2, 
  .prose-article h3, 
  .prose-article h4,
  .prose-article h5, 
  .prose-article h6 {
    @apply !mb-6;
  }

  .prose-article h1 {
    @apply !text-3xl;
  }
}

@layer utilities {
  .odd\:order-1:nth-child(odd) {
    order: 1;
  }
  
  .even\:order-2:nth-child(even) {
    order: 2;
  }
  
  .last\:mb-0:last-child {
    margin-bottom: 0;
  }
}

.nuxt-icon {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

/* CAROUSEL - VUE SLIDER */

/* Pagination */

.carousel__slide--active {
  opacity: 1;
  transform: scale(1);
}

.carousel__pagination {
  bottom: -48px;
}

.carousel__pagination-button {
  height: 8px;
  width: 24px;
  margin: 0 2px;
  background-color: theme(--color-brand-yellow-dark);
  border-radius: 8px;
  transition: background-color 0.2s ease-in;
}

.carousel__pagination-button:hover {
  background-color: theme(--color-brand-red);
  transition: background-color 0.2s ease-in;
}

.carousel__pagination-button.carousel__pagination-button--active {
  opacity: 1;
  background-color: theme(--color-brand-red);
}

@media only screen and (min-width: theme(--breakpoint-md)) {
  .carousel__pagination {
    bottom: -64px;
  }
}

@media only screen and (min-width: theme(--breakpoint-lg)) {
  .carousel__pagination-button {
    height: 8px;
    width: 32px;
    margin: 0 4px;
  }
}