@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-red: #fb3a58;
}

@layer base {
  body {
    @apply font-articulat font-normal tracking-wide text-black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-transducer font-black tracking-normal antialiased;
  }

  a {
    @apply transition-colors duration-200 ease-in-out;
  }
  
  /* WYSIWYG */

  .prose p {
    @apply text-base md:text-[17px] tracking-wide leading-normal text-gray-900;
  }

  .prose a {
    @apply font-normal text-brand-red border-b-2 border-transparent hover:border-brand-red/70 no-underline;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5 {
    /*  */
  }

  .prose img {
    @apply w-full rounded-lg;
  }

  .prose ul {
    @apply list-outside list-disc marker:text-gray-600;
  }
}

@layer components {
  .layout-full {
    @apply px-4 sm:px-8 lg:px-12 xl:px-20;
  }

  .layout-wide {
    @apply max-w-7xl m-auto px-4 sm:px-8 lg:px-12 xl:px-20;
  }
}

@layer utilities {
  .transition-default {
    @apply transition duration-200 ease-linear;
  }
}

/* ICONS */

.nuxt-icon {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}